@import '~bootstrap/dist/css/bootstrap.min.css';

.hidden {
	display: none !important;
}

* {
	user-select: none;
}

/* Para Safari */
*::selection {
	background-color: transparent;
}

/* Para Firefox */
*::-moz-selection {
	background-color: transparent;
}

body {
	background: #f2f2f2;
	font-family: 'Open Sans', sans-serif;
}
